* {
 box-sizing: border-box;
}

li {
 list-style-type: none;
}

a {
 text-decoration: none;
}

/*----------------------------------------*/
/*-----------------HEADER-----------------*/
/*----------------------------------------*/
header {
	background-color: teal;
}

a, a:visited {
 color:white;
}

a:hover {
 color:lightgrey;
}

.my-list {
 margin:3;
 padding:0;
 display: flex;
}

.my-list li {
 padding: 0.5em 0 0.5em 1em;
}

/*----------------------------------------*/
/*-----------------TITLE------------------*/
/*----------------------------------------*/
#name-title {
	text-align: center;
}

/*----------------------------------------*/
/*--------MAIN ARTICLE SECTION-----------*/
/*----------------------------------------*/

#main-article {
padding: 0 0.75em 0 0.75em;
}
/*----------------------------------------*/
/*-------------EVENTS SECTION-------------*/
/*----------------------------------------*/

#events {
display: flex;
flex-direction: column;
}

.each_event {
display: flex;
flex-direction: column;
padding: 0.75em;
}

.each_event img {
	width: 100%;
	height: auto;
}

/*----------------------------------------*/
/*-----------------FOOTER-----------------*/
/*----------------------------------------*/

footer {
	background-color: teal;
}

@media only screen and (min-width: 1200px) {
	body {
		width: 800px;
		margin: 0 auto 0 auto;

	}
/*-----------------HEADER-----------------*/

/*-----------------TITLE------------------*/

/*--------MAIN ARTICLE SECTION-----------*/

/*-------------EVENTS SECTION-------------*/

#events {
flex-direction: row;
}

/*-----------------FOOTER-----------------*/
}
@media only screen and (min-width: 750px) {
	body {
		width: 700px;
		margin: 0 auto 0 auto;
	}

}



