* {
	text-decoration: none;
}

body {
  position: relative;
  font-size: 20px;
  font-family: Oxygen, sans-serif;
  padding: 0px;
}

/* Navbar customizations */

.navbar-custom {
  background-color: #455A64;
  border: 0;
  font-family: Oxygen;
}

.navbar-custom .navbar-brand {
  color: #FFF;
  font-family: "Josefin Sans", serif;
  font-size: 1.8em;
  margin: 0px;
}

.navbar-brand a {
  color: rgba(255, 255, 255, 0.8);
}

.navbar-brand a:hover, navbar-brand a:focus, navbar-brand a:active {
  color: #FFF;
  text-decoration: none;
}

.navbar-custom .navbar-nav > li > a {
  color: rgba(255, 255, 255, 0.8);
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #FFF;
  background-color: #607D8B;
}

.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #FFF;
}

/* hamburger menu */
/*
.navbar-custom .navbar-toggle {
  border: 0px;
  /*margin: 6px 15px 2px 0px;*//*
}*/*/

#nav-toggle-icon {
  color: rgba(255, 255, 255, 0.8);
}

#nav-toggle-icon:hover {
  color: #FFF;
}

/* Main */

h1,
h2, h3 {
  font-family: "Josefin Sans";
  color: #607D8B;
}

#home {
  height: 500px;
  padding: 100px;
  background-image: url('http://i42.tinypic.com/2itk12a.jpg');
  background-size: cover;
  background-attachment: fixed;
}

#about {
  padding: 40px 30px;
  background-color: #FFF9C4;
}

#about img {
  border-style: solid;
  border-color: #FFF;
  border-width: 8px;
  border-radius: 50%;
  margin-top: 40px;
}

#social {
  padding: 30px 30px;
  background-color: #FFF9C4;
}

#social .col-xs-12 {
  margin-bottom: 10px;
  vertical-align: center;
}

#social .thumbnail {
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 450px;
}

#social .thumbnail:hover {
  background-color: rgba(255, 255, 255, 1);
}

#social a {
  text-decoration: none;
}

#contact {
	  height: 500px;
  padding: 100px;
  background-image: url('http://i58.tinypic.com/2lsbd3n.jpg');
  background-size: cover;
  background-attachment: fixed;
}

#contact a {
  color: #37474F;
}

.project {
  padding: 0px;
}

.footer {
  padding: 15px 10px 5px 10px;
  background-color: #455A64;
  color: #B0BEC5;
}
.center {
	text-align: center;
}

.picture{
	display: center-block;
	height: auto;
	width: 11em;
}

ul.float li {

	float: center;
	margin-left: 5vw;
	display: inline-block;
}

li {
  list-style-type: none;
}

nav {
  text-decoration: none;
}

li i.fa {
	float: center;
	font-size: 40px;
	color: blue;
	margin-right: 7vw;
}

ul.nav li {
	display: inline-block;
}

.center-block picture {
	text-align: center;
}

*{
	margin: 0em;
}